[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime.git
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum.git
[submodule "qiwo-sync-core"]
	path = qiwo-sync-core
	url = ../qiwo-sync-core.git
	branch = main
[submodule "rime-frost"]
	path = rime-frost
	url = https://github.com/gaboolic/rime-frost.git
